*{
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: ending;
    src: url("Perfect\ DOS\ VGA\ 437.ttf");
}
body {
    font-family: ending;
    display: flex;
    cursor: url("https://imgur.com/BIIZmdl.png"), auto;
}


#background {
    position: absolute;
    top: auto;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
#startupOverlay {
    position: absolute;
    top: auto;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#starting {
    position: absolute;
    top: auto;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-color: black;
}
#startbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    cursor: url("https://imgur.com/BIIZmdl.png"), auto;
    font-family: ending;
    color: white;
    background-color: black;
    text-align: center;
    width: 150px;
    height: 60px;
    z-index: 999;
}
@keyframes volumedown {
    0% {volume: 1;}
    100% {opacity: 0;}
}
@keyframes volumein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.tutorialDialogue {
    font-size: 100%;
    width: 100vmin;
    height: 20vmin;
    background-color: rgb(0, 0, 0, 0.65);
    border: 5px solid white;
    text-align: center;
    color: white;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
}
#fredid {
    position: absolute;
    top: -3vh;
    transform: translate(-50%, -50%);
}

@keyframes fadeOutOverlay {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeInOverlay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.overlay {
    width: 70vw;
    height: 40vw;
    background-color: rgb(0, 0, 0, 0.65);
    border: 5px solid white;
    color: white;
    position: relative;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    display: none;
}


#fred {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 95%;
    opacity: 1;
    object-fit: cover;
}
#fredhover {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 95%;
    object-fit: cover;
    opacity: 0;
}
#fredhoverarea {
    width: 18vw;
    height: 25vw;
    position: absolute;
    top: 48%;
    left: 11vw;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#fredpop {
    position: absolute;
    top: 18%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 990;
    width: 13vw;
}
#fredcomment {
    position: absolute;
    color: black;
    font-size: 0.9vw;
    width: 12vw;
    top: 15%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 991;
}
#fredcom {
    display: none;
}

#healthbar {
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 95%;
}
#healthhover {
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 95%;
}
#healthhoverarea {
    width: 6vw;
    height: 14vw;
    position: absolute;
    top: 61%;
    left: 23.5vw;
    transform: translate(-50%, -50%);
    z-index: 998;
}

#healthpop{
    position: absolute;
    top: 65%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 995;
    width: 15vw;
}
#healthcomment {
    position: absolute;
    color: black;
    font-size: 0.9vw;
    width: 12vw;
    top: 65%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 996;
}
#healthcom {
    display: none;
}

.inputarea {
    position: absolute;
    left: 65%;
    top: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inputFrame {
    width: 30vw;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#input {
    font-size: 2.5vw;
    font-family: ending;
    margin: 0 10px;
    height: 3vw;
    width: 6vw;
    background-color: rgb(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
    transform: translateY(-20px);
    outline: none;
    text-align: center;
    cursor: url("https://imgur.com/BIIZmdl.png"), auto;
    &:hover {
        border-width: 8px;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#inputcomment {
    text-align: center;
    margin: 2vw 0;
    font-size: 1.6vw;
}
#text1 {
    font-size: 1.6vw;
}

#confirm {
    background-color: black;
    outline: none;
    border: 5px solid white;
    color: white;
    font-size: 2.5vw;
    font-family: ending;
    height: 3vw;
    width: 18vw;
    text-align: center;
    cursor: url("https://imgur.com/BIIZmdl.png"), auto;
    margin-top: 3vw;
    &:hover {
        background-color: black;
        border-width: 8px;
    }
}
#mute {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
}


.retry {
    display: none;
}
#retryScreenOverlay {
    position: absolute;
    top: auto;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
#retryDialogue {
    display: flex;
}

#nextAnim {
    position: absolute;
    top: 80%;
    left: 95%;
    transform: translate(-5%, -20%);
    width: 3%;
}

#difficulties {
    display: none;
    flex-direction: row;
    align-items: center;
}
.difficulty {
    text-align: center;
    background-color: black;
    outline: none;
    border: 5px solid white;
    color: white;
    font-size: 300%;
    font-family: ending;
    height: 60px;
    width: 250px;
    margin: 0 auto;
    cursor: url("https://imgur.com/BIIZmdl.png"), auto;
    &:hover {
        border-width: 8px;
    }
}
