body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    user-select: none;
    cursor: none;
}
@font-face {
    font-family: ending;
    src: url("./assets/fonts/Righteous-Regular.ttf");
}